.carousel {
    display: flex;
    width: 50%;
}

.carousel_item {
    display: none;
    animation: fade-in 1s;
}

.left_mobile {
    display: none;
}

.right_mobile  .left_right{
    display: none;
    float: right;
}

button {
    position: relative;
    z-index: 2;
    font-size: 30px;
    top: 200%;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 540px) {
    .carousel {
        display: block;
        justify-content: center;
    }

    .carousel_item {
        flex-direction: column;

    }

    button {
        display: none;
        z-index: 2px;
        font-size: 30px;
    }

    .left_mobile {
        display: inline-block;
    }

    .right_mobile {
        display: inline-block;
        float: right;
    }
}