.carousel {
    position: relative;
    width: 50%;
    height: 50px;
    margin: 0 auto;
}

.carousel_item {
    display: none;
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

button {
    position: absolute;
    top: 50%;
    margin-top: 10rem;
    z-index: 2;
    font-size: 30px;
}

.left {
    left: -25px;

}

.right {
    right: -25px;
}